@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color: #E6E1E7;
    font-family: "JetBrains Mono", monospace;
    color: #101920;
}
a {
    color: #101920;
}
.container{
    width: 100%;
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}